:root {
    --color-bg: #0c0407;
    --color-large-text: #ff2ea1;
    --color-small-text: #ad548f;
    --color-accent: #F5C6D6;
    --color-contrast-accent: white;
}

body {
  margin: 0px auto;
  width: 100%;
  background-color: var(--color-bg);
}
h1 {
  font-size: 3.375rem;
  color: var(--color-accent);
  font-family: 'Cinzel', serif;
}
h2 {
  font-size: 1.875rem;
  color: var(--color-large-text);
  font-family: 'Cinzel', serif;
  margin-top: -8px;
}
h3 {font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
p {
  text-align: justify; 
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.1rem;
  color: var(--color-small-text);
}
html {scroll-behavior: smooth;}
a {cursor: pointer; text-decoration: none;}
a:hover {text-shadow: 0 0 8px var(--color-accent);}
nav {display: flex;}
ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 50px;
  margin: auto;
  padding-inline-end: 3%;
  max-width: 1400px;
}
li {list-style-type: none;}

.name {
  font-family: amiah;
  font-size: 3.375rem;
  color: var(--color-accent);
}
.name-mobile {  
  font-family: amiah;
  font-size: 3.375rem;
  color: var(--color-accent);
  margin-top: -10px;
}
.nav-button {
  transition: color, 0.3s;
  font-size: larger;
  background-color: var(--color-bg);
  border: none;
  color: var(--color-large-text);
  text-decoration: none;
}
.nav-button:hover {color: var(--color-accent)}

.divider {
  border: none;
  height: 2px;
  background: linear-gradient(to right, transparent, var(--color-small-text), transparent);
  margin: 1em 0;
}

.topnav {
  overflow: hidden;
  background-color: var(--color-bg);
  position: relative;
  display: none;
}
.topnav #myLinks {display: none;}
.topnav a {
  color: var(--color-large-text);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.1rem;
  display: block;
  transition: color, 0.3s;
}
.topnav a.icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 30px;
  margin-top: 10px;
}
.topnav a:hover {
  background-color: var(--color-small-text);
  color: var(--color-accent);
}
.active {
  background-color: var(--color-bg);
  color: var(--color-accent);
  height: 60px;
}

#header {background-color: var(--color-bg);}
.header-parent {margin: auto;}
.header-text {color: var(--color-small-text);}

.demos-parent {
  display: flex;
  margin: auto;
  padding: 2%;
  max-width: 1300px;
  width: 90%;
}
#demos-right {
  border: 3px solid var(--color-large-text);
  padding-inline: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 1%;
  padding-bottom: 3%;
}
.demos-child {
  width: 48.5%;
  padding-inline-end: 5%;
}
.demo-holder {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.demo-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.demo-title {color: var(--color-accent)}
.download {
  border: 1px solid var(--color-accent);
  background-color: transparent;
  color: var(--color-accent);
  height: 30px;
  transition: color, 0.3s;
  cursor: pointer;
}
.download:hover{
  background-color: var(--color-accent);
  color:var(--color-bg);
  border-color: var(--color-accent);
}
.email {
  transition: color, 0.3s;
  color: var(--color-accent);
}
.email:hover {color: var(--color-contrast-accent)}
.socials {
  width: 40px;
  padding: 2px;
  margin-inline-end: 5px;
  user-select: none;
  background-color: var(--color-large-text);
  border-radius: 0.8rem;
  cursor: pointer;
  transition: color, 0.3s;
}
.socials:hover {background-color: var(--color-accent);}






#studio {
  margin: auto;
  max-width: 1300px;
  width: 80%;
  margin-top: 5%;
}
.purple-title {
  color: var(--color-accent);
  font-size: 2.25rem;
}
.studio-parent {
  justify-content: space-between;
  margin: auto;
  display: flex;
  gap: 2%;
}
.studio-child {
  border: 5px solid var(--color-large-text);
  min-height: 550px;
  max-width:350px;
  width: 33%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.studio-text {
  padding-inline: 25px;
  line-height: 25px;
}
.studio-specs {
  border: 3px solid var(--color-large-text);
  margin: auto;
  width: 150px;
  padding: 10px 10px;
  transition: color, 0.3s;
}
.studio-specs:hover {
  color: var(--color-bg);
  background-color: var(--color-large-text);
}
.microphone-icon {
  height: 115px;
  padding-top: 30px;
  margin-bottom: 30px;
}
.connect-icon {
  height: 150px;
  padding-top: 7px;
}
.document-img {
  height: 110px;
  padding-top: 27px;
  padding-bottom: 19px;
}
#studio-icon {
  user-select: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.raw-sample-box {
  width: 80%;
  margin: auto;
  border-style: solid;
  border-width: 3px;
  border-color: var(--color-large-text);
  height: 30px;
  padding-top: 10px;
  padding-inline: 10px;
}
.studio-emojis {
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-top: 19px;
  padding-bottom: 19px;
  user-select: none;
}
.emoji-img {width: 55px;}
#gmail {padding-bottom: 5px;}
#drive {padding-left: 1%;}
#studio-text-gone {display: none;}
.internal-link-button {color: var(--color-large-text)}
.internal-link-button:hover {text-shadow: 0 0 0;}




#about {
  padding-top: 5%;
  margin: auto;
  max-width: 1300px;
  width: 80%;
  color: var(--color-large-text);
}
.about-me-link {
  border-style: solid;
  border-color: var(--color-large-text);
  border-width: 3px;
  padding: 10px 10px;
  transition: color, 0.3s;
  margin: auto;
  width: 214px;
}
.about-me-link:hover {
  color: var(--color-bg);
  background-color: var(--color-large-text);
}
.link-p {
  text-decoration:underline;
  color: var(--color-accent);
  transition: color, 0.3s;
}
.link-p:hover {color: var(--color-contrast-accent);}
#contact {background-color: var(--color-bg);}
.contact-content {
  max-width: 1300px;
  width: 80%;
  margin: auto;
  margin-top: 5%;
}
.content-head {
  display: flex;
  justify-content: space-between;
}
.social-holder {
  margin-top: 10px;
}





input:focus, textarea:focus {outline: none;}

form{
  display:flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.form-container{margin-top: 40px;}
#message{
  border:none;
  height:200px;
  resize: none;
}
#email-address,
#lname,#fname,#message{
  background-color: var(--color-accent);
  padding:15px 10px;
  width:80%;
  color: var(--color-large-text);
  border: none;
}
#send-button{
  cursor: pointer;
  padding:15px 10px;
  width:80%;
  background-color: var(--color-large-text);
  transition: color, 0.3s;
  border: none;
}
#send-button:hover{
  color: var(--color-large-text);
  background-color: var(--color-accent);
}
#send-button:active{
  background-color: var(--color-small-text);
}


.contact-socials {
  margin-top: 10px;
  margin-right: -12px;
}
.footer {
  background-color: var(--color-bg);
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer-text {
  font-size: 0.87rem;
  color: var(--color-large-text);
  text-align: center;
}











/*audio player stuff */

progress {
  appearance: none;
  background: linear-gradient(to right, black 0%, white 0%, white 100%, black 100%) repeat;
  background-size: 200% 100%;
  border: none;
  border-radius: 1rem;
  color: var(--color-contrast-accent);
  height: 3px;
  width: 100%;
  background-repeat: no-repeat;
  box-sizing: border-box;
  position: relative;
}
progress::-ms-fill {
  animation-name: none;
}
progress[value], progress::-webkit-progress-bar, progress[value]::-webkit-progress-value {
  background: none;
  border: none;
  border-radius: 0px;
}
progress[value]::-webkit-progress-bar {background-color: var(--color-small-text);}
progress[value]::-webkit-progress-value {
  background-color: var(--color-large-text);
  transition: 0.3s background-color;
}
progress[value]::-webkit-progress-value:hover {
  background-color:var(--color-accent);
} 
progress:not([value]) {
  animation: animate-progress 2s ease infinite;
}
@-moz-document url-prefix() {
  progress::-moz-progress-bar {
    background-color: transparent;
  }
  progress[value], progress[value]::-moz-progress-bar {
    border: none;
    border-radius: 1rem;
    height: 0.5rem;
  }
  progress[value] {
    background-color: transparent;
  }
  progress[value]::-moz-progress-bar {
    background-color: black;
  }
}
audio {
  width: 100%;
}
.audio {
  align-items: center;
  display: flex;
  user-select: none;
  max-width: 1050px;
}
.audio button {
  outline: none;
}
.audio__src, .audio__icon {
  display: none;
}
.audio__bar {
  box-sizing: content-box;
  flex-grow: 1;
  margin: 0 0.25rem;
}
.audio__time {
  display: none;
}
.audio__vol-pop {
  display: none;
  height: 1.875rem;
  width: 6rem;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: 1.5rem;
  top: 0.5rem;
  transform: rotate(-90deg) translateX(-1rem);
  transform-origin: 1.5rem -1.625rem;
  transition: all 0.25s ease;
}
.audio__vol-pop::before {
  background-color: #000000;
  border-radius: 4px;
  content: '';
  height: 100%;
  width: calc(100% - 1rem);
  right: 0;
  top: 0;
  position: absolute;
}
.audio__vol {
  background-color: white;
  border-radius: 4px;
  box-sizing: content-box;
  cursor: grab;
  display: block;
  height: 0.5rem;
  width: 4rem;
  margin: 0.6875rem 0.5rem 0.6875rem 1.5rem;
}
.audio__vol:active {
  cursor: grabbing;
}
.audio__vol-pop:hover, .audio__vol-pop:active, .audio__icon--vol:hover + .audio__vol-pop {
  opacity: 1;
  pointer-events: all;
  transform: rotate(-90deg) translateX(0);
}
.audio__icon--loop, .audio__icon--vol {
  display: none!important;
}
[controls] ~ .audio__bar {
  cursor: pointer;
}
[controls] ~ .audio__bar:active {
  cursor: pointer;
}
[controls] ~ .audio__icon {
  background-color: transparent;
  background-position: center;
  background-size: auto 1rem;
  border: none;
  border-radius: none;
  box-shadow: none;
  cursor: pointer;
  display: block;
  flex-shrink: 0;
  height: 20px;
  width: 12px;
  margin: 0;
  padding: 0;
  margin-right: 10px;
}
[controls] ~ .audio__icon--play {
    -webkit-mask: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='642 1417.544 12.853 16.456'%3E%3Cpath d='M642,1434v-16.456l12.853,8.09Z'/%3E%3C/svg%3E");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: 50% 50%;
  mask: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='642 1417.544 12.853 16.456'%3E%3Cpath d='M642,1434v-16.456l12.853,8.09Z'/%3E%3C/svg%3E");
    mask-repeat: no-repeat;
    mask-position: 50% 50%;
  background-color: var(--color-large-text);
  background-repeat: no-repeat;
  box-sizing: border-box;
  position: relative;
  transition: 0.3s background-color;
}
[controls] ~ .audio__icon--play:hover {
  background-color: var(--color-accent);
}
[controls] ~ .audio__icon--pause {
  -webkit-mask: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='642 1586 12 16'%3E%3Cg transform='translate(0 717)'%3E%3Crect width='4' height='16' rx='0' transform='translate(642 869)'/%3E%3Crect width='4' height='16' rx='0' transform='translate(650 869)'/%3E%3C/g%3E%3C/svg%3E");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: 50% 50%;
  mask: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='642 1586 12 16'%3E%3Cg transform='translate(0 717)'%3E%3Crect width='4' height='16' rx='0' transform='translate(642 869)'/%3E%3Crect width='4' height='16' rx='0' transform='translate(650 869)'/%3E%3C/g%3E%3C/svg%3E");
  mask-repeat: no-repeat;
  mask-position: 50% 50%;
  background-color: var(--color-large-text);
  background-repeat: no-repeat;
  box-sizing: border-box;
  position: relative;
  transition: 0.3s background-color;
}
[controls] ~ .audio__icon--pause:hover {
  background-color: var(--color-accent);
}
[controls] ~ .audio__icon--vol-mute {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='1059 1418 19.077 16'%3E%3Cg transform='translate(1059 1418)' fill='black'%3E%3Cpath d='M.615,5.538A.581.581,0,0,0,0,6.154V9.846a.581.581,0,0,0,.615.615H4.308L9.846,16V0L4.308,5.538Z'/%3E%3Cpath d='M24.938,11.077l2.031-2.031a.609.609,0,0,0-.862-.862l-2.031,2.031L22.046,8.185a.609.609,0,0,0-.862.862l2.031,2.031-2.031,2.031a.6.6,0,0,0,0,.862.665.665,0,0,0,.431.185.559.559,0,0,0,.431-.185l2.031-2.031,2.031,2.031a.665.665,0,0,0,.431.185.559.559,0,0,0,.431-.185.6.6,0,0,0,0-.862Z' transform='translate(-8.077 -3.077)'/%3E%3C/g%3E%3C/svg%3E");
}
[controls] ~ .audio__icon--download {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='1093 1417 16.545 18'%3E%3Cg transform='translate(1093 1417)' fill='none' stroke='black' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2'%3E%3Cpath d='M7,14l2.909,3.273L12.818,14' transform='translate(-1.636 -3.545)'/%3E%3Cline y2='12.364' transform='translate(8.273 1)'/%3E%3Cline x2='14.545' transform='translate(1 17)'/%3E%3C/g%3E%3C/svg%3E");
}
[controls] ~ .audio__vol-pop {
  display: block;
}
#raw-button {background-color: var(--color-large-text)}
#raw-button:hover {background-color: var(--color-small-text)}







@media(max-width:1355px)
{
  #demos-right {
    width: 80%;
    max-width: 400px;
  }

  .studio-child {width: 310px;}
  #studio-child-gone {display: none;}
}

@media(max-width: 1007px) {
  li {display: none;}
  ul{display: none;}
  .topnav {display: block;}
  
  .demos-parent {display: block; padding: 0%;}
  .demos-child {width: 80%; margin: auto;}
  #demos-left {width: 80%; padding-bottom: 5%;}
  #demos-right {width: 70%; max-width: 1300px;}

  .slider-container{display: none;}
  .slider-track{display: none;}
  .slider-img{display:none}

  .studio-child {margin: auto; width: 100%;}

  #email-address,
  #lname,#fname,#message{width: 90%}
}

@media(max-width: 750px)
{
  #studio-text-gone {display: block;}
  #studio-icon {display: none;}
  #studio-child-gone-2{display: none;}
}

@media(max-width: 640px)
{
  li {display: none;}
  ul{display: none;}

  .topnav {display: block;}

  h1 {font-size: 3rem;}
  .demos-parent {display: block; padding-bottom: 10%;}
  .demos-child {width: 100%;}
  #demos-left {width: 100%;}
  #demos-right {width: 80%; padding-bottom: 10%;}

  .social-a {display: none;}
  .content-head {padding-top: 10%;}
  #about {padding-top: 15%}

}

@media(max-width: 543px)
{
  .studio-child{height: 100%;}
  .internal-link-button {padding-bottom: 10%;}

  #full-name {display: none;}
  #half-name {display: block;}
  .topnav {display: block;}
}
